*{margin: 0; padding: 0;}
.slider{
	width: 100%;
	margin: 100px auto;
}
.slider .slick-slide> div{
	margin: 20px;
}
.slider .slick-slide div img{
	display: block;
	width: 100%;
}

/* 시작 이미지 꾸미기 */
.slider .slick-current> div{
	margin: 10px 10px;
	transition: all 1s;
}

/*이동버튼 꾸미기*/
.slider .slick-prev:before, 
.slider .slick-next:before{
	content:'';/*원래 버튼 없애기*/
}
.slider .slick-prev,
.slider .slick-next{
	width:27px;
	height:50px;
	z-index: 10;
}
.slider .slick-prev{
	background:url(../images/prev_wh.png) no-repeat;
	left: 50px;
}
.slider .slick-prev:hover{
	background:url(images/prev_orange.png) no-repeat;
}
.slider .slick-next{
	background:url(images/next_wh.png) no-repeat;
	right: 50px;
}
.slider .slick-next:hover{
	background:url(images/next_orange.png) no-repeat;
}

/*블릿버튼 꾸미기*/
.slider .slick-dots li button::before{
	content: '';/*원래 버튼 없애기*/
}

.slider .slick-dots li button{
	width:10px;
	height:10px;
	padding:0;
	background:pink;
	border-radius:50%;
	opacity: 0.5;
}
.slider .slick-dots li.slick-active button{
	background:pink;
	opacity:1
}

