*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: 0; color: #191919;}
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Roboto', sans-serif; 
font-family: 'Libre Caslon Text', serif;*/

body{
font-family: 'Noto Sans KR', sans-serif;
font-size: 12px;
line-height: 22px;
color: #191919;
min-width: 1320px;
}

#top{
    width: 100%;
    height: 82px;
    position: absolute; 
    top: 0;
    left: 0; 
    z-index: 99;
    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#92278f+0,92278f+100&1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(146,39,143,1) 0%, rgba(146,39,143,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(146,39,143,1) 0%,rgba(146,39,143,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(146,39,143,1) 0%,rgba(146,39,143,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92278f', endColorstr='#0092278f',GradientType=0 ); /* IE6-9 */

    }

.top_inner{
width: 1320px;
height: 24px;
margin: auto;  

}
.top_inner> a{
float: left;
margin: 20px 0;
}
.top_left{
float: left; 
}
.top_left> li{
padding: 40px 0 0px 100px;
float: left; 
}
.top_left> li> a{
display: block;
font-weight: bold;
font-size: 18px;
color: #ffffff;
padding-bottom: 20px;
}
.top_left> li> a:hover{
color: #92278f;
text-shadow: 5px 5px 3px rgba(0,0,0,0.2);
}
.top_right{
float: right;
}
.top_right li{
padding: 40px 0 0 30px;
float: left;
}
.top_right li a{
display: block;
width: 24px;
height: 24px;
}
.top_right li:nth-child(1) a{background: url(images/login.png) center center no-repeat;}
.top_right li:nth-child(2) a{background: url(images/search.png) center center no-repeat;}
.top_right li:nth-child(3) a{background: url(images/topbasket.png) center center no-repeat;}
.top_right li:nth-child(4) a{background: url(images/menu_icon.png) center center no-repeat;}
.top_right li:nth-child(1) a:hover{background: url(images/loginhover.png) center center no-repeat;}
.top_right li:nth-child(2) a:hover{background: url(images/searchhover.png) center center no-repeat;}
.top_right li:nth-child(3) a:hover{background: url(images/topbasket_hover.png) center center no-repeat;}
.top_right li:nth-child(4) a:hover{background: url(images/menu_icon_hover.png) center center no-repeat;}


/*서브메뉴*/
.sub{
width: 100%;
background-color: rgba(146,39,143,0.3);
position: absolute;
left: 0;
display: none;
}
.sub div{/* 서브 위아래 간격 조정안됨 */
width: 1320px;
margin: 10px auto;
padding: 10px 0;
height: 130px;
}
.sub ul{
float: left;
margin-left: 90px;
}
.sub ul:nth-child(1) {margin-left:238px;}
.sub ul:nth-child(2) {margin-left:90px;}
.sub ul:nth-child(3) {margin-left:58px;}
.sub ul:nth-child(4) {margin-left:96px;}
.sub a {
padding-top: 10px;
font-size: 14px;
color: #ffffff;
}
.sub a:hover{
color: #92278f;
}
.top_left li:hover .sub{
display: block;
}


/* 헤드배너*/
#header{
    width: 100%;
    background: url(images/event_banner_plain.jpg) no-repeat center center;
}
.header_inner{
    width: 1280px;
    height: 300px;
    margin: auto;
    position: relative;
    display: block;
}


/* 이벤트 박스 */
#content{
    width: 1280px;
    margin: 50px auto;
    height: 650px;
}
.lnb{
    float: left;
    width: 300px;
}
h2{
    font-size: 26px;
    padding-bottom: 20px;
    color: #92278f;
    border-bottom: 2px solid #767676;
}
.lnb a{
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}
.lnb li a:hover{
    color: #92278f;
    font-weight: bold;
}

.wrap{
    float: right;
    width: 950px;
    background: url(images/Favicon_circle.png) no-repeat right top;
}
h1{
    font-size: 35px;
    padding-bottom: 20px;
    color: #767676;
    border-bottom: 2px solid #767676;
    margin-bottom: 40px;
}

/* 슬라이드*/
.slidebox{
    width: 950px;
    height:560px;
    margin: 0 auto;
    float: left;
    background: url(images/towel_flag.jpg) no-repeat
    0 0;
    background-size: contain;
   
}
.slide{
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slide img{
    width: 100%;
    background-size: cover;
    position: absolute;
    transition: all 2s;}

#event{
    width: 1280px;
    margin: 40px auto;
    height: 360px;
}

.event_list{
    width: 950px;
    height: 360px;
    float: right;
    overflow: hidden;
    display: block;
 
}
.event_list ul{
    float: left;

}
.event_list li{
    float: left;
    display: block;
    margin: auto;
}
.event_list li:nth-child(2){
    padding: 0 25px;
}


/* 공지사항 아코디언*/
#accordion{
    width: 1280px;
    margin: 40px auto;
    height: 400px;
}
#accordion_inner{
    float: right;
    width: 950px;
    font-family: 'Noto Sans KR', sans-serif;
}
input[id*="answer"] {
    display:none;}
input[id*="answer"] + label{
    display: block;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background:#92278f;
    cursor: pointer;
    position: relative;
}
input[id*="answer"] + label em {
    position: absolute;
    top:50%;
    right: 20px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    display: inline-block;
    background: url(images/updown_arrow.png) no-repeat 0 0 ;
}
input[id*="answer"] + label + div {
    max-height:0;
    transition: all .35s;
    overflow: hidden;
    font-size: 14px;
}
input[id*="answer"] + label + div p {
    display: inline-block;
    padding: 30px;
    margin-left:120px ;
}
input[id*="answer"]:checked + label + div {
    max-height:1000px;
    overflow: hidden;
}
input[id*="answer"]:checked + label em {
    background-position: 0 -24px;
}


/* 매장찾기*/
#map{
    width: 1280px;
    margin: 100px auto;
}
.empty{
    float: left;
    width: 300px;
    background-color: aquamarine;
    display: block; 
}
.map_inner{
    float:right;
    width: 950px;
    margin: auto;
    position: relative;
    display: block;
}
.map_inner> h1{
    font-size: 35px;
    padding-bottom: 20px;
    color: #767676;
    border-bottom: 2px solid #767676;
    margin-bottom: 40px;
}
/*
.mapbox{
    width: 100%;
    height: 1600px;
    float: right;
    background: url(images/map_teams_plus.jpg) no-repeat center center;
    background-size: contain;
}
*/
.mapbox{
    width: 100%;
    height: 1600px;
    float: right;
    background: url(images/map_teams_plus.jpg) no-repeat center center;  
    margin-bottom: 40px;
}
.mapbox a{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0);
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 19px;
}
.lotte{
    right: 158px;
    bottom:587px;
}
.NC{
    right: 304px;
    bottom: 560px;
}
.KIA{
    left: 235px;
    bottom: 598px;
}
.lions{
    right: 309px;
    bottom: 733px;
}
.eagles{
    left: 345px;
    bottom: 832px;
}
.KT{
    left: 300px;
    top: 640px;
}
.SSG{
    left: 152px;
    top: 514px;
}
.heros{
    left: 234px;
    top: 422px;
}
.bears{
    left: 328px;
    top: 504px;
}
.LG{
    left: 426px;
    top: 504px;
}
.WOW{
    right: 158px;
    bottom: 690px;
}
.mapbox a:hover{animation: ani 0.3s linear infinite;
    animation-direction: alternate;
    animation-iteration-count: 4;
    transition:  all 0.5s;
}
@keyframes ani{
    from{ margin-top:-10px}
    to{margin-bottom: 10px;}
}

/* moving 꾸미기*/
#moving{
    clear: both;
    width: 1280px;
    margin: auto;
    
}

.moving_inner{
    width: 1280px;
    height: 100px;
    margin: auto;
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.grape{
    background: url(images/bg_grape_sponsor.jpg) 0 center / 320px repeat-x;
    width: 950px;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 300px;
    animation: box 10s ease infinite;}
    @keyframes box{
        0%{background-position: 0 center;}
        100%{background-position: -640px center;}
    } 



/* footer */
#footer{
    clear: both;
    width: 1920px;
    background-color: #191919;
}

.f_inner{
    width: 1280px;
    height: 300px;
    margin: auto;
    padding: 20px 0 ;
}
.sns{float: right;}
.sns li{
    float: left;
    padding-left: 20px;
    opacity: 0.7;}

.sns li:hover{opacity: 1;}
.f_left img{margin-bottom: 10px;}
.f_left{
    width: 1080px;
    text-align: left;
    display: block;
    float: left;
}
.name{
    font-size: 18px;
    font-family: 'Libre Caslon Text', serif;
    }

.f_link{float: left;}
.f_link li{
    float: left;
    display: block;
    padding: 10px 10px 20px 0;}
.f_link li a{
    color: rgba(225,225,225,0.3);}
.f_link li a:hover{ color: #fff;}

.f_inner p{
    font-size: 14px;
    clear: both;
    color: rgba(225,225,225,0.3);}

.address{
    width: 100%;
    display: block;
    float: left;
}
.f_right{
   float: right;
   margin-top: 110px; 
}
.f_right ul li{
    text-align: right;
    display: block;
    padding-top: 5px;
   }
.f_right li a{
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: rgba(225,225,225,0.3);}
small{
        font-size: 12px;
}
  
/* TOP BTN */

.top{ 
    position:fixed; 
    bottom:50px; 
    right:50px; 
    display:none;
  }